* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(30, 30, 56);
  display: flex;
  place-items: center;
  min-height: 100vh;
}
main {
  display: grid;
  grid-template-areas:
    "a a b"
    "c d d"
    "c e e";
  gap: 10px;
  width: 50%;
  margin: auto;
}

main div {
  padding: 2em;
  text-align: center;
  border-radius: 5px;
}

.item1 {
  background-color: red;
  grid-area: a;
  padding: 100px;
}
.item2 {
  background-color: orange;
  grid-area: b;
  padding: 100px;
}
.item3 {
  background-color: green;
  padding: 100px;
  grid-area: c;
}
.item4 {
  background-color: lightskyblue;
  grid-area: d;
  padding: 50px;
}
.item5 {
  background-color: lightskyblue;
  grid-area: e;
  padding: 50px;
}
